---
import BaseLayout from '@layouts/BaseLayout.astro'
export { getLocalizedStaticPaths as getStaticPaths } from '@i18n/utils'

const pageTitle = 'About Han Lin'

const identity = {
  firstName: 'Han',
  country: 'Taiwan',
  occupation: 'Research Engineer',
  hobbies: ['photography', 'computers', 'hiking', 'reading', 'traveling'],
}

const skills = ['AI', 'Bioinformatics', 'Electronics']

const skillColor = 'navy'
const fontWeight = 'bold'
const textCase = 'uppercase'
const { lang } = Astro.params
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>

<style is:global define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
