---
import { Font } from 'astro:assets'
import { ClientRouter } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
import { defaultLocale, getLang, useTranslations } from '@lib/utils'

export interface Props {
  title?: string
  description?: string
}

const { locale } = Astro.params
const currentLocale = locale ?? defaultLocale
const t = useTranslations(currentLocale)
const { title = t('site.title'), description = t('site.description') } = Astro.props
---

<html
  lang={getLang(locale)}
  data-locale={currentLocale}
  transition:name="root"
  transition:animate="fade"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- Fonts -->
    <Font cssVariable="--font-inter" preload />
    <script src="@lib/transition"></script>
    <ClientRouter />
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <Header />
      <main id="content" class="container mx-auto flex-grow px-4 py-8">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style></style>
